<header class="template-header container">
	<div class="row">
		<div class="header-title span-5">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile", "showTplWidget": "0"})|raw}}
		</div>
		<nav class="template-nav span-7">
			{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
		</nav>
	</div>
</header>